* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Mulish', sans-serif;
  color: #000000;

  background-color: #E5E5E5;
  background: url("./assets/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.container {
  width: 739px;
  height: 442px;

  background-color: #fff;
  border-radius: 10px;
  padding: 30px;

  display: flex;
  flex-direction: column;
}

.close-btn {
  display: flex;
  justify-content: flex-end;
}

.content {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
}

header h1{
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
}

header span {
  margin-top: 20px;
  width: 557px; 
  font-size: 18px;
  line-height: 25px;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 30px;
  margin-bottom: 25px;
}

main input {
  all: unset;
  box-sizing: border-box;

  width: 510px;
  height: 49px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px 20px;
}

main button {
  all: unset;
  box-sizing: border-box;

  width: 119px;
  height: 49px;

  background: #9677EF;
  border-radius: 5px;

  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  text-align: center;

  cursor: pointer;
}

main button:hover {
  background: rgba(150, 119, 239, 0.8);
  box-shadow: 0px 11px 20px rgba(150, 119, 239, 0.3);
  border-radius: 5px;
}

.footer {
  box-sizing: border-box;
  width: 631px;
  height: 135px;
  background: #F8F9FD;
  border-radius: 6px;

  display: flex;
  flex-direction: column;

  padding: 30px 144px 30px 20px;
}

.footer h1{
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #494949;

  margin-bottom: 15px;
}

.footer span{
  font-size: 14px;
  line-height: 21px;
  color: #494949;
}

.footer span a{
  color: #9677EF;
}

