* {
  padding: 0px;
  margin: 0px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E5E5E5;
  font-family: 'Montserrat', sans-serif;
}

.card-01-container {
  max-width: 579px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 10px 25px rgba(220, 205, 181, 0.42);
  border-radius: 15px;
  margin-right: 29px;
  background-color: #fff;
}

.closeX{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}

.text-card-01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 11px 88px 55px 88px;
}

.text-card-01 h1{
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #212D59;
}

.expressions{
  display: flex;
  flex-direction: row;
}

.item-expression {
  display: flex;
  flex-direction: column;
  margin: 72px 33.5px 85px 33.5px;
}

.item-expression span{
  margin-top: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #212D59;
  opacity: 0.5;
}

.btn {
  display: flex;
  justify-content: center;
}

.text-card-01 .btn a{
  text-decoration: none;
  width: 208px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2F2D2C;
  border-radius: 5px;
  color: #fff;
}

.card-02-container{
  max-width: 402px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 10px 25px rgba(220, 205, 181, 0.42);
  border-radius: 15px;
  margin-left: 29px;
  background-color: #fff;
}

.feedback-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0px 63px;
}

.feedback-container h1{
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #212D59;
  margin-top: 15px;
  margin-bottom: 40px;
}

.feedback-container p{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #212D59;
  margin-bottom: 40px;
}

.feedback-footer{
  display: flex;
  align-items: center;
  padding: 0px 40px 35px 50px;
}

.clean-btn{
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #212D59;
  opacity: 0.5;
}

.feedback-footer .btn{
  width: 134px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2F2D2C;
  border-radius: 5px;
  margin-left: 34px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}